.theme-1 .div-bounce-item,
.theme-1 .menu-item a,
.theme-1 .lang-theme,
.theme-1 .md-title h2,
.theme-1 .seven-pgh,
.theme-1 .md-header h2,
.theme-1 .th-color,
.theme-1 .th-color span,
.theme-1 .work-close-header h2{
    color: #e83c38;
}


.theme-1::-webkit-scrollbar{
    background: #a6d1c9 !important;
    width: 8px;
}
.theme-1::-webkit-scrollbar-thumb{
    background: #e83c38 !important;
    width: 10px;
}
.theme-1 .th-bgc-rgba{
    background-color: rgba(255,255,255, .9);
}

.theme-1,
.theme-1 .lang-item-fr,
.theme-1 .lang-text-bg,
.theme-1 .lang-text-abbr,
.theme-1 .page-main,
.theme-1 .th-back-color{
    background: #a6d1c9;
}

.theme-1 .lang-item-fr:before,
.theme-1 .information:after,
.theme-1 .learn-more:before,
.theme-1 .lm-btn-text:before,
.theme-1 .menu-column:first-child:after,
.theme-1 .menu-column:nth-child(2):after,
.theme-1 .md-header:before,
.theme-1 .header-stroke,
.theme-1 .md-line{
    background: #e83c38;
}
.theme-1 .st0,
.theme-1 .stroke-svg,
.theme-1 .lm-btn-svg svg{
    stroke: #e83c38;
}
.theme-1 .est0{
    fill: #e83c38;
}
.theme-1 .clients__table-item svg path,
.theme-1 .clients__table-item svg polygon,
.theme-1 .clients__table-item svg rect {
    stroke: #e83c38;
    fill: #e83c38;
}
.theme-1 .m-btn-link:hover  .m-link-svg svg path{
    fill: #a6d1c9;
}
.theme-1 .work-close-svg path{
    stroke: #e83c38;
}
.theme-1 .pulse-f,
.theme-1 .pulse-s{
    background: #a6d1c9;
    border: 1px solid #e83c38;
}
.theme-1 .gl-border-b{
    border-bottom: 1px solid #e83c38;
}
.theme-1 .gl-border-color{
    border-color: #e83c38;
}
.theme-1 .gl-no-right-border{
    border-right: none;
}
.theme-1 .gl-no-left-border{
    border-left: none;
}
.theme-1 .mod_border .clients__table-item{
    border-bottom: none;
}
.theme-1 .gl-border-color{
    border-color: #e83c38;;
}



// Theme 2
.theme-2 *,
.theme-2 .div-bounce-item,
.theme-2 .menu-item a,
.theme-2 .lang-theme,
.theme-2 .md-title h2,
.theme-2 .seven-pgh,
.theme-2 .th-color,
.theme-2 .th-color span{
    color: #a6d1c9;
}
.theme-2 .work-close-header h2{
    color: #282b29;
}

.theme-2,
.theme-2 .lang-item-fr,
.theme-2 .lang-text-bg,
.theme-2 .lang-text-abbr,
.theme-2 .page-main,
.theme-2 .th-back-color{
    background-color: #282b29;
}
.theme-2::-webkit-scrollbar{
    background: #282b29 !important;
    width: 8px;
}
.theme-2::-webkit-scrollbar-thumb{
    background: #a6d1c9 !important;
    width: 10px;
}

.theme-2 .th-bgc-rgba{
    background-color: rgba(166, 209, 201, .9);;
}

.theme-2 .lang-item-fr:before,
.theme-2 .learn-more:before,
.theme-2 .lm-btn-text:before,
.theme-2 .information:after,
.theme-2 .menu-column:first-child:after,
.theme-2 .menu-column:nth-child(2):after,
.theme-2 .md-header:before,
.theme-2 .md-line,
.theme-2 .header-stroke{
    background-color: #a6d1c9;
}
.theme-2 .st0,
.theme-2 .stroke-svg,
.theme-2 .lm-btn-svg svg{
    stroke: #a6d1c9;
}
.theme-2 .clients__table-item svg path,
.theme-2 .clients__table-item svg polygon,
.theme-2 .clients__table-item svg rect {
    stroke: #a6d1c9;
    fill: #a6d1c9;
}
.theme-2 .est0{
    fill: #a6d1c9;
}
.theme-2 .m-btn-link:hover  .m-link-svg svg path{
    fill: #282b29;
}
.theme-2 .work-close-svg path{
    stroke: #282b29;
}
.theme-2 .pulse-f,
.theme-2 .pulse-s{
    background: #282b29;
    border: 1px solid #a6d1c9;
}
.theme-2 .gl-border-b{
    border-bottom: 1px solid #a6d1c9;
}
.theme-2 .gl-no-right-border{
    border-right: none;
}
.theme-2 .gl-no-left-border{
    border-left: none;
}
.theme-2 .mod_border .clients__table-item{
    border-bottom: none;
}
.theme-2 .gl-border-color{
    border-color: #a6d1c9;
}


//Theme -3

.theme-3 *,
.theme-3 .div-bounce-item,
.theme-3 .menu-item a,
.theme-3 .lang-theme,
.theme-3 .md-title h2,
.theme-3 .seven-pgh,
.theme-3 .th-color,
.theme-3 .th-color span{
    color: #282b29;
}
.theme-3 .work-close-header h2{
    color: #f4c4c4;
}

.theme-3,
.theme-3 .lang-item-fr,
.theme-3 .lang-text-bg,
.theme-3 .lang-text-abbr,
.theme-3 .page-main,
.theme-3 .th-back-color{
    background-color: #f4c4c4;
}

.theme-3::-webkit-scrollbar{
    background: #f4c4c4 !important;
    width: 8px;
}
.theme-3::-webkit-scrollbar-thumb{
    background: #282b29 !important;
    width: 10px;
}

.theme-3 .th-bgc-rgba{
    background-color: rgba(40, 43, 41, .9);
}

.theme-3 .lang-item-fr:before,
.theme-3 .learn-more:before,
.theme-3 .lm-btn-text:before,
.theme-3 .information:after,
.theme-3 .menu-column:first-child:after,
.theme-3 .menu-column:nth-child(2):after,
.theme-3 .md-header:before,
.theme-3 .md-line,
.theme-3 .header-stroke{
    background-color: #282b29;
}
.theme-3 .st0,
.theme-3 .stroke-svg,
.theme-3 .lm-btn-svg svg{
    stroke: #282b29;
}

.theme-3 .est0{
    fill: #282b29;
}
.theme-3 .m-btn-link:hover  .m-link-svg svg path{
    fill: #f4c4c4;
}
.theme-3 .clients__table-item svg path,
.theme-3 .clients__table-item svg polygon,
.theme-3 .clients__table-item svg rect {
    stroke: #282b29;
    fill: #282b29;
}
.theme-3 .work-close-svg path{
    stroke: #f4c4c4;
}

.theme-3 .pulse-f,
.theme-3 .pulse-s{
    background: #f4c4c4;
    border: 1px solid #282b29;
}
.theme-3 .gl-border-b{
    border-bottom: 1px solid #282b29;
}
.theme-3 .gl-no-right-border{
    border-right: none;
}
.theme-3 .gl-no-left-border{
    border-left: none;
}
.theme-3 .mod_border .clients__table-item{
    border-bottom: none;
}
.theme-3 .gl-border-color{
    border-color: #282b29;
}



// Theme - 4

.theme-4 *,
.theme-4 .div-bounce-item,
.theme-4 .menu-item a,
.theme-4 .lang-theme,
.theme-4 .md-title h2,
.theme-4 .seven-pgh,
.theme-4 .th-color,
.theme-4 .th-color span{
    color: #e83c38;
}

.theme-4,
.theme-4 .lang-item-fr,
.theme-4 .lang-text-bg,
.theme-4 .lang-text-abbr,
.theme-4 .page-main,
.theme-4 .th-back-color{
    background-color: #ebeded;
}
.theme-4 .work-close-header h2{
    color: #f4c4c4;
}

.theme-4::-webkit-scrollbar{
    background: #ebeded !important;
    width: 8px;
}
.theme-4::-webkit-scrollbar-thumb{
    background: #e83c38 !important;
    width: 10px;
}
.theme-4 .th-bgc-rgba{
    background-color: rgba(232, 60, 56, .9);
}

.theme-4 .lang-item-fr:before,
.theme-4 .lm-btn-text:before,
.theme-4 .learn-more:before,
.theme-4 .information:after,
.theme-4 .menu-column:first-child:after,
.theme-4 .menu-column:nth-child(2):after,
.theme-4 .md-header:before,
.theme-4 .md-line,
.theme-4 .header-stroke{
    background-color: #e83c38;
}
.theme-4 .st0,
.theme-4 .stroke-svg,
.theme-4 .lm-btn-svg svg{
    stroke: #e83c38;
}
.theme-4 .est0{
    fill:  #e83c38;
}
.theme-4 .clients__table-item svg path,
.theme-4 .clients__table-item svg polygon,
.theme-4 .clients__table-item svg rect {
    stroke: #e83c38;
    fill: #e83c38;
}
.theme-4 .m-btn-link:hover  .m-link-svg svg path{
    fill:#ebeded;
}
.theme-4 .work-close-svg path{
    stroke: #f4c4c4;
}
.theme-4 .pulse-f,
.theme-4 .pulse-s{
    background: #ebeded;
    border: 1px solid #e83c38;
}
.theme-4 .gl-border-b{
    border-bottom: 1px solid #e83c38;
}
.theme-4 .gl-no-right-border{
    border-right: none;
}
.theme-4 .gl-no-left-border{
    border-left: none;
}
.theme-4 .mod_border .clients__table-item{
    border-bottom: none;
}
.theme-4 .gl-border-color{
    border-color: #e83c38;
}




