.works{

}
.works-container{
    margin-top: 200px;
    position: relative;
    z-index: 6;
}
.g-project-items{
    display: flex;
}
.g-project-items:first-child{
    margin-bottom: 150px;
}
.g-project-block{
    flex: 0 1 50%;
    overflow: hidden;
    transition: transform  1.6s cubic-bezier(.075,.82,.165,1), opacity 2s cubic-bezier(.075,.82,.165,1) 1s, visibility 2s cubic-bezier(.075,.82,.165,1) 1s;
}
.block__mod-1{
    padding-left: 4.57vw;
    padding-right: 4.57vw;
}
.block__mod-2,
.block__mod-3{
    padding-left: 11.42vw;
    transform: translateY(100px);
}
.block__mod-4{
    padding-left: 5.71vw;
    padding-right: 11.2vw;
}
.block__mod-5{
    padding-top: 150px;
    margin: 0 auto;
}
.g-project-container{
    position: relative;
    max-width: 100%;
}
.g-project-absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hover-effect-qiuckview{
    overflow: hidden;
}

.hover-effect__short-prompt{
    transform: translateX(-102%);
}
.hover-effect__short-prompt h3{
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 8px;
    transition-delay: .4s;

}
.g-project-link:hover .hover-effect__short-prompt {
    transform: translateX(0%);
}
.g-project__hover-effect:hover .hover-effect__short-prompt h3 {
    transform: scale3d(0,0,0);
    transition-delay: 0s;
 }

.g-project-video{
    max-width: 100%;
    position: relative;

}
.g-project-video__curtain{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-height: 100%;

}
.g-project-video video{
    width: 100%;
    max-width: 100%;
}

.hover-effect__circle-block{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    transform: scale(0);
    transition-delay: .2s;
}

.circle-block-elements{
    position: absolute;
}
.origin-style{
    max-width: 40px;
    width: 40px;
    position: absolute;
    transform: translate(55%,50%);
}
.circle-svg-anim{
    transform: scale(1.3);
    transition: transform .4s cubic-bezier(.075,.82,.165,1);
    transition-delay: .1s;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 3;
    stroke-width:16;
}
.g-project__hover-effect:hover .hover-effect__circle-block{
    transform: scale(1);
}
.g-project__hover-effect:hover .circle-svg-anim{
    transform: scale(.8);
}
.g-project__words-moving{
    border-bottom: 1px solid #fff;
}
.words-mov-def{
    padding: 2.125rem 0px 2.125rem 0px;
}
.words-moving__calm span,
.running-string-wrapp span{
    white-space: nowrap;

}
.words-moving__running-string{

}
.running-string-wrapp{
    animation: move 19s infinite linear;
    animation-play-state: paused;
    transform: translateX(0%);
}

.words-moving__running-string span{
    margin-right: 3rem;
}
.g-project-link:hover .words-moving__running-string{
    opacity: 1;
    visibility: visible;
}
.g-project-link:hover .words-moving__calm {
    display: none;
}
.g-project-link:hover .running-string-wrapp{
    animation-play-state: running;
}
.works-button{
    margin-top: 230px;

}
.gl-transform-button-wrapper{
    display: inline-block;
}
.works-rotate-text{
    transform-origin: left top;
    transform: rotate(-90deg);
    transition: transform .9s cubic-bezier(.075,.82,.165,1);
}
.works-translate-text{
    transform: translateY(-50%);
}
.works-translate-text h3{
    font-size: 1.3rem;
    font-weight: 600;
}
.works-rotate-text:before{
    bottom: 5px;
}
.works-rotate{
    transform: rotate(-90deg);
    transition: transform .9s cubic-bezier(.075,.82,.165,1);
}
.works-translate{
    transform: translate(50%);
}
.gl-transform-button-wrapper a:hover .works-rotate,
.gl-transform-button-wrapper a:hover .works-rotate-text{
    transform: rotate(0deg);
}
.works-modal{
    position:fixed;
    z-index: 41;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, .9);
    transition: transform 1.6s cubic-bezier(.075,.82,.165,1);
}

.works-modal-btn{
    position: absolute;
    right: 5px;
    top: 0px;
}
.works-modal-wrap{
    height: 100%;
}
.works-modal-video{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.works-separator{
    position: relative;
    z-index: 5;
    border-top-width: 1px;
    border-top-style: solid;
    height: 150px;
    margin-top: 150px;
}
div.prompt__transition-def{
    transition: transform .4s cubic-bezier(.075,.82,.165,1);
}

@keyframes move {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
