.projects{
    position: relative;
    z-index: 5;
    padding-top: 25rem;
}
.prj-header{
    position: sticky;
    top: 300px;

}
.prj-header h2{
    font-size: 5.7rem;
    text-transform: uppercase;
    text-align: center;
    @include perp;
}
