@import 'null';
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import 'fonts';
@import 'var';
@import 'preloader';
@import 'global.pulse';
@import 'header';
@import 'main.seven-title';
@import 'main.video';
@import 'main.modal';
@import 'main.info';
@import 'projects.header';
@import 'projects.works';
@import 'clients.table';
@import 'clients.contacts';
@import 'footer.bg__running-str.scss';
@import 'footer.menu.scss';

@import 'global.theme-cor';
@import 'media';
html{
    font-family: 'Karla','Helvetica','Arial',sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.main-container{
    min-height: 100vh;
}

.content{
    margin: 0 auto;
    max-width: 95%;
}


.lang-item-fr,
.lang-text-bg,
.lang-text-abbr,
.page-main,
.th-back-color{
    transition: background .6s cubic-bezier(.075,.82,.165,1);
}
.body::-webkit-scrollbar{
    background: #00a19a;
    width: 8px;
}
.body::-webkit-scrollbar-thumb{
    background: #fff;
    width: 10px;
}


